
<header>
  <div class="container-all">
    <div class="row row--between"><a href="" class="fa fa-bars icon-menu"></a>
      <div class="row row--end">
        <div class="avatar-thumb row container-toggle">
          <div class="row avatar">
            <figure><img src="../../../static/img/usuarios/user2-160x160.jpg" width="36" height="36" alt="" class="thumbnail-circle"/></figure>
            <h5 class="username">
              Daniel Huamani
              <i class="fa fa-chevron-down icon-down"></i>
            </h5>
          </div>
          <ul class="toggle-card toggle-avatar">
            <li><a href="">
                <i class="fa fa-user"></i>
                Perfil</a></li>
            <li><a href="">
                <i class="fa fa-cog"></i>
                Configuración</a></li>
            <li><a href="">
                <i class="fa fa-sign-out"></i>
                Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>