
<aside class="aside-main">
  <div class="cnt-logo-admin">
    <div class="titulo"><img src="../../../static/img/tecnicas-metalicas-3.png" alt="" class="logo"/><img src="../../../static/img/tecnicas-metalicas-responsive.png" alt="" class="logo-responsive"/></div>
  </div>
  <div class="cnt-usuario text-center">
    <figure><img src="../../../static/img/usuarios/user2-160x160.jpg" alt=""/></figure>
    <div class="usuario">
      <h4 class="usuario-nombre">Daniel Huamani</h4>
      <p class="usuario-cargo">
        Programador
        
      </p>
    </div>
  </div>
  <div class="cnt-menu">
    <div class="menu-navegacion p-t-10 p-b-10">
      <h5>Menu Navegación</h5>
    </div>
    <ul class="ul-menu-main n-m">
      <li><a href=""><i class="icon-sidebar fa fa-dashboard"></i><span class="text-menu">
            Dashboard
            
            </span></a></li>
      <li><a href=""><i class="icon-sidebar fa fa-book"></i><span class="text-menu">
            Icon
            </span></a></li>
      <li class="sub-menu"><a href=""><i class="icon-sidebar fa fa-tasks"></i><span class="text-menu">Avance</span><i class="icon-arrow-menu fa fa-chevron-down"></i></a>
        <ul class="menu-secund">
          <li><a href="form_general.html"><span>Crear Hoja de Ruta</span></a></li>
          <li><a href="registrar_avance.html"><span>Registrar Avance</span></a></li>
          <li><a href="listado_avance.html"><span>Listado de avance</span></a></li>
        </ul>
      </li>
      <li class="sub-menu"><a href=""><i class="icon-sidebar fa fa-laptop"></i><span class="text-menu">Pagina de Ejemplo</span><i class="icon-arrow-menu fa fa-chevron-down"></i></a>
        <ul class="menu-secund">
          <li><a><span class="sub-text-menu">Login</span></a></li>
          <li><a><span class="sub-text-menu">Registrar</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>