extends ../common/base.jade
block content
	.row
		.col-movil-100
			.panel.formBasic
				.panel__header
					h4.
						Form Basic
				.panel__content
					.row
						.col-movil-25
							.content
								.form-group
									label.
										Nombred
									input(type="text")
									p.error.
										Campo Obligatorio
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
						.col-movil-25
							.form-group
								label.
									Nombre
								input(type="text")
	.row
		.col-movil-100
			.panel.formAdvanced
				.panel__header
					h4.
						Form Basic
				.panel__content
					.row.form-group
						.col-movil-30.form-label
							.content
								label.
									Nombre

						.col-movil-70.form-input
							input(type="text")
					.row.form-group
						.col-movil-30.form-label
							label.
								Nombre

						.col-movil-70.form-input
							input(type="text")
					.row.form-group
						.col-movil-30.form-label
							label.
								Nombre

						.col-movil-70.form-input
							input(type="text")
					.row.form-group
						.col-movil-30.form-label
							label.
								Nombre

						.col-movil-70.form-input
							textarea(name="", cols="30", rows="10")



