<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto:300,400,700,900" rel="stylesheet")
        link(rel="stylesheet", href="../../../static/css/main.css")
    body
        .wrapper-login
            .login-background
            .overlay
            .login-container.row
                .login.col-web-40.col-tablet-50.col-movil-80
                   .login__header
                        h2.
                            Login

                    .login__content.formBasic
                        form(action="")
                            .message.message--danger
                                p.
                                    Verifique los datos ingresados e inténtelo de nuevo.
                            .form-group

                                label.
                                    Usuario
                                input(type="text")
                            .form-group

                                label.
                                    Password
                                input(type="password")
                            input(type="submit" value="Ingresar" class="btn btn--success")

