extends ../common/base.jade
block css
    link(rel="stylesheet", href="../../../static/css/vendor/datepicker.css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

block content
    .row.page-listado-avance
        .col-movil-100
            .panel.formBasic
                .panel__header
                    h4.
                        Registro de Avance
                .panel__content
                    form(action="")
                        .row.row--align-center

                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        OT
                                    input(type="text")
                                p.error.
                                    Campo Obligatorio
                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        Tipo de Elemento
                                    select.select-two
                                        option(value="").
                                            Elementos
                                        option(value="").
                                            Elementos
                                        option(value="").
                                            Elementos
                                p.error.
                                    Campo Obligatorio
                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        Etapa Actual
                                    select.select-two
                                        option(value="").
                                            Galvanizado
                                        option(value="").
                                            Elementos
                                        option(value="").
                                            Elementos
                                p.error.
                                    Campo Obligatorio

                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        Desde
                                    input(type="text" class="date-picker" data-date-format="dd/mm/yyyy" placeholder="__/__/____")
                                p.error.
                                    Campo Obligatorio
                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        Hasta
                                    input(type="text" class="date-picker" data-date-format="dd/mm/yyyy" placeholder="__/__/____")
                                p.error.
                                    Campo Obligatorio
                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        Supervisor
                                    select.select-two
                                        option(value="").
                                            Galvanizado
                                        option(value="").
                                            Elementos
                                        option(value="").
                                            Elementos
                                p.error.
                                    Campo Obligatorio
                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group

                                    label.
                                        Contratista
                                    select.select-two
                                        option(value="").
                                            Galvanizados
                                        option(value="").
                                            Elementos
                                        option(value="").
                                            Elementos
                                p.error.
                                    Campo Obligatorio
                            .col-movil-100.col-tablet-30.col-web-20
                                .form-group
                                    input(type="submit" value="BUSCAR" class="search btn btn--success" )


                    .table-content
                        table
                            tr
                                th.
                                    Sel
                                th.
                                    Codigo
                                th.
                                    Rev
                                th.
                                    Descripcion
                                th.
                                    Cantidad
                                th.
                                    Etapa
                                th.
                                    Contratista

                            tr
                                td
                                    input(type="checkbox")
                                td.
                                    Peter
                                td.
                                    Griffin
                                td.
                                    $100
                                td.
                                    Peter
                                td.
                                    Griffin
                                td.
                                    $100

                            tr
                                td
                                    input(type="checkbox")
                                td.
                                    Lois
                                td.
                                    Griffin
                                td.
                                    $150
                                td.
                                    Peter
                                td.
                                    Griffin
                                td.
                                    $100

                            tr
                                td
                                    input(type="checkbox")
                                td.
                                    Joe
                                td.
                                    Swanson
                                td.
                                    $300
                                td.
                                    Peter
                                td.
                                    Griffin
                                td.
                                    $100

                            tr
                                td
                                    input(type="checkbox")
                                td.
                                    Cleveland
                                td.
                                    Brown
                                td.
                                    $250
                                td.
                                    Peter
                                td.
                                    Griffin
                                td.
                                    $100
                    .num-events
                        h3.
                            Número de Eventos: 10
                    .row.row--end
                        .button-group
                            a(href="" class="btn btn--info").
                                Asignar Fecha Fin
                            a(href="" class="btn btn--success").
                                Exportar Csv
                            a(href="" class="btn btn--close").
                                Cerrar

block js
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    script(src="../../../static/js/vendor/bootstrap-datepicker.js")
    script.
        $(document).ready(function($) {
            $('.date-picker').datepicker({
            });
            $('.select-two').select2();
        });
