header
	.container-all
		.row.row--between
			a(href="").fa.fa-bars.icon-menu
			.row.row--end

				.avatar-thumb.row.container-toggle
					.row.avatar
						figure
							img(src="../../../static/img/usuarios/user2-160x160.jpg", width="36"  height="36" alt="" class="thumbnail-circle")
						h5.username.
							Daniel Huamani
							<i class="fa fa-chevron-down icon-down"></i>
					ul.toggle-card.toggle-avatar
						li
							a(href="").
								<i class="fa fa-user"></i>
								Perfil
						li
							a(href="").
								<i class="fa fa-cog"></i>
								Configuración
						li
							a(href="").
								<i class="fa fa-sign-out"></i>
								Salir


