aside.aside-main
	.cnt-logo-admin
		.titulo
			img(src="../../../static/img/tecnicas-metalicas-3.png", alt="" class="logo")
			img(src="../../../static/img/tecnicas-metalicas-responsive.png", alt="" class="logo-responsive")
	.cnt-usuario.text-center
		figure
			img(src="../../../static/img/usuarios/user2-160x160.jpg", alt="")
		.usuario
			h4.usuario-nombre.
				Daniel Huamani
			p.usuario-cargo.
				Programador

	.cnt-menu
		.menu-navegacion.p-t-10.p-b-10
			h5.
				Menu Navegación
		ul.ul-menu-main.n-m
			li
				a(href="")
					i.icon-sidebar.fa.fa-dashboard
					span.text-menu.
						Dashboard


			li
				a(href="")
					i.icon-sidebar.fa.fa-book
					span.text-menu.
						Icon

			li.sub-menu
				a(href="")
					i.icon-sidebar.fa.fa-tasks
					span.text-menu.
						Avance
					<i class="icon-arrow-menu fa fa-chevron-down"></i>
				ul.menu-secund
					li
						a(href="form_general.html")
							span.
								Crear Hoja de Ruta
					li
						a(href="form_general.html")
							span.
								Registrar Avance
					li
						a(href="listado_avance.html")
							span.
								Listado de avance
			li.sub-menu
				a(href="")
					i.icon-sidebar.fa.fa-laptop
					span.text-menu.
						Pagina de Ejemplo
					<i class="icon-arrow-menu fa fa-chevron-down"></i>
				ul.menu-secund
					li
						a
							span.sub-text-menu.
								Login
					li
						a
							span.sub-text-menu.
								Registrar
